.education {
  width: 920px;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;

}
.educationTitle {
  color: #939393;
  font-size: 22px;
  font-family: "Switzer-Variable", serif;
  font-weight: 400;
}
.educationDescription {
  width: 660px;
  display: flex;
  justify-content: space-between;
}
.universityProgram {
  width: fit-content;
  font-family: "Switzer-Variable", serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;

}
.locationDuration {
  text-align: right;
  font-family: "Switzer-Variable", serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
}
.greyEducation {
  color: #939393;
}
@media (max-width: 768px) {
  .education {
    width: 78.88vw;
    flex-direction: column;
    gap: 5vw;
    margin-top: 24.26vw;

  }
  .educationTitle {
    font-size: 3.8vw;
  }
  .educationDescription {
    width: 75vw;
    display: flex;
    justify-content: space-between;
  }
  .universityProgram {
    font-size: 3.56vw;
  }
  .locationDuration {
    font-size: 3.56vw;
  }
}