.iconDiv {
    width: fit-content;
    height: fit-content;
    z-index: 2;

}
.icon{
    width: 40px;
    height: 40px;
    background-color: transparent;
    transition: transform 0.3s ease;
    pointer-events: none;
}
.icon:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 768px) {
    .icon{
        width: 7.63vw;
        height: 7.63vw;
    }
}