 .ProjectCard {
     position: relative;
     background-color: #000000;
     width: fit-content;
     height: fit-content;
     border-radius: 66px;
     padding: 23px 23px 23px 45px;
     margin-right: auto;
     margin-left: auto;
     overflow: hidden;
     transition: transform 0.5s ease;
 }
 .ProjectCard:hover {
     transform: scale(1.02);
     cursor: none;
 }
 .RightBlur {
     position: absolute;
     width:540px;
     height: 540px;
     top: -200px;
     right: -170px;
     pointer-events: none;
 }
 .LeftBlur {
     position: absolute;
     width:540px;
     height: 540px;
     bottom: -200px;
     left: -170px;
     pointer-events: none;
 }
 .DetailsDiv {
     width: 935px;
     height: 324px;
     margin-right: auto;
     margin-left: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 6px;
     z-index: 1;
 }
.ProjectDetails {
    width: 443px;
    height: 291px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ProjectInfo{
    background-color: transparent;
    width: 443px;
    height: 200px;
    z-index: 2;
}
.ProjectName{
    text-align: left;
    color: #FFFFFF;
    font-family: "Switzer-Variable", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 22px;
    background-color: transparent;
}
.ProjectDescription {
    text-align: left;
    color: #939393;
    font-family: "Switzer-Variable", sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: transparent;
}
.CardImg {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.ProjectImg {
    height: 324px;
    pointer-events: none;
}
.ProjectDiv {
    margin-bottom: 42px;
    width: fit-content;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 768px) {
    .ProjectCard {
        border-radius: 10.68vw;
        padding: 6.63vw 6.63vw 7.16vw 6.63vw;
    }
    .RightBlur {
        width: 117vw;
        height: 117vw;
        top: -50.89vw;
        right: -43.25vw;
    }
    .LeftBlur {
        width: 117vw;
        height: 117vw;
        bottom: -50.89vw;
        left: -43.25vw;
    }
    .DetailsDiv {
        width: 74.55vw;
        height: fit-content;
        flex-direction: column;
        gap: 5.85vw;
        z-index: 1;
    }
    .ProjectDetails {
        width: 74.55vw;
        height: fit-content;
        gap: 6.36vw;
    }
    .ProjectInfo {
        width: 73.55vw;
        height: fit-content;
        margin-right: auto;
        margin-left: auto;
    }
    .ProjectName{
        font-size: 4.32vw;
        margin-bottom: 3.56vw;
    }
    .ProjectDescription {
        font-size: 3.56vw;
    }
    .ProjectImg {
        width: 78.88vw;
        height: 52.22vw;
    }
    .ProjectDiv {
        margin-bottom: 8.68vw;
    }
}