.techStack{
  width: 920px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}
.stackTitle {
  color: #939393;
  font-size: 22px;
  font-family: "Switzer-Variable", serif;
  font-weight: 400;
}
.stackColumns {
  width: 660px;
  display: flex;
  justify-content: space-between;
}
.columns {
  width: fit-content;
  height: fit-content;
  font-family: "Switzer-Variable", serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  column-gap: 9px;
}
.plusLI {
  list-style: none;
  height: 16px;
  width: 16px;

}
li {
  list-style: none;
  height: fit-content;

}
.plus {
  height: 18px;
  width: 18px;
  margin-right: auto;
  margin-left: auto;
}
.plusUl {
  height: 108px;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
}
.incompUl {
  padding-top: 2px;
}

.columnSkills{
  width: fit-content;
}
@media (max-width: 768px) {
  .techStack{
    width: 78.88vw;
    flex-direction: column;
    gap: 5vw;
    margin-top: 24.26vw;
  }
  .stackTitle {
    font-size: 3.8vw;
  }
  .stackColumns {
    width: 75vw;
  }
  .columns {
    font-size: 3.56vw;
    column-gap: 1vw;
  }
  .plusLI {
    height: 3vw;
    width: 3vw;

  }
  .plus {
    height: 3vw;
    width: 3vw;
  }
  .plusUl {
    height: 20vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
  }
  .incompUl {
    padding-top: 0.3vw;
  }
}