@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --radius: 0.5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  cursor: none;
}

::selection {
  display: none;
}

@layer base {
}
